<html>

<head>
    <style>
        .brief .form {
            max-width: 400px;
            width: 100%;
            margin: 0 auto;

            padding: 30px;
            border: 1px solid grey;
        }

        .brief .form-title {
            margin-top: 0;
            margin-left: 0;
        }

        .brief .form fieldset {
            border: 1px solid rgb(10, 1, 1);
            margin-bottom: 20px;
        }

        .brief .form-row {
            margin: 10px 0;
        }

        .brief label {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="brief" id="app">
        <form class="form" action="">
            <h4 class="form-title">Brief naar Sinterklaas van {{ naam123 }} {{ naam456 }}
                <span class="voornaam"></span>
                <span class="achternaam"></span>
            </h4>
            <fieldset>
                <legend>Mijn gegevens</legend>
                <div class="form-row">
                    <label for="">Voornaam</label>
                    <input type="text" id="voornaam-input" class="" v-model="naam123">
                </div>
                <div class="form-row">
                    <label for="">Naam</label>
                    <input type="text" id="achternaam-input" class="" v-model="naam456">
                </div>
            </fieldset>
            <fieldset>
                <legend>Mijn verlanglijst</legend>
                <div class="verlanglijst">
                    <div class="row form-row" v-for="input in inputs">
                        <input type="text">{{ input }} 
                        <button type="button" class="add" @click="addRow">+</button>
                        <button type="button" class="remove" @click="deleteRow(index)">-</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="braaf">
                <legend>Ben ik braaf geweest?</legend>
                <div>
                    <label for="ja">ja</label>
                    <input type="radio" id="ja" name="braaf" value="1">
                </div>
                <div>
                    <label for="nee">nee</label>
                    <input type="radio" id="nee" name="braaf" value="">
                </div>
            </fieldset>
            <div class="">
                <button class="reset-button">reset</button>
                <input type="submit" value="submit" v-bind:disabled="naam123 && naam456 == ''">
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
       let app =new Vue ({
   
   el: '#app',
   data: {
       naam123: '',
       naam456: '',
       inputs: [
           ''
        ],
     },
    methods: {
        addRow() {
            this.inputs.push('')
        },
        deleteRow(index) {
            this.inputs.splice(index,1)
        }

    }
   
   })
    </script>



</body>

</html>